<app-nav></app-nav>

<app-another></app-another>
<app-first></app-first>
This is our app component!

hello

<app-first></app-first>
<app-first></app-first>

<app-candybars></app-candybars>

<app-binding>app binding</app-binding>
<app-binding>app binding</app-binding>
<app-binding>app binding</app-binding>
<app-binding>app binding</app-binding>

<app-flashcards></app-flashcards>
<app-flashcards></app-flashcards>
<app-flashcards></app-flashcards>
<app-flashcards></app-flashcards>
<app-flashcards></app-flashcards>


<app-bean [in]="bean2"></app-bean>

<app-pokemon></app-pokemon>

