body{
    background-color: gainsboro;
}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  .Absolute-Center.is-Responsive {
    width: 60%; 
    height: 60%;
    padding: 70px;
  }
  .formTitles {
    padding-bottom: 30px;
  }