<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<style>

body {
    padding:10px;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>


<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
      <input type="radio" role="button" name="options" id="option1" autocomplete="off" (click)="setTypeChecking(1, 'option1')"> Pending
    </label>
    <label class="btn btn-primary">
      <input type="radio" role="button" name="options" id="option2" autocomplete="off" (click)="setTypeChecking(2, 'option2')"> Approved
    </label>
    <label class="btn btn-primary">
      <input type="radio" role="button" name="options" id="option3" autocomplete="off" (click)="setTypeChecking(3, 'option3')"> Denied
    </label>
  </div>

<table id="customers">
  <tr>
    <th>ID</th>
    <th>Author</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Status</th>
    <th></th>
  </tr>
  <tr *ngFor="let reimb of this.reimbursements">
    <td *ngIf="reimb.statusId == this.typeIdChecking">{{reimb.reimbursementId}}</td>
    <td *ngIf="reimb.statusId == this.typeIdChecking">{{reimb.authorId | employee}}</td>
    <td *ngIf="reimb.statusId == this.typeIdChecking">{{reimb.description}}</td>
    <td *ngIf="reimb.statusId == this.typeIdChecking">{{reimb.reimbursementAmount | currency: 'USD': 'symbol'}}</td>
    <td *ngIf="reimb.statusId == this.typeIdChecking">{{reimb.typeId | type}}</td>
    <td *ngIf="reimb.statusId == this.typeIdChecking" class ="status">{{reimb.statusId | status}}</td>
    <td align = "center" *ngIf="reimb.statusId == 1 && reimb.statusId == this.typeIdChecking"><button role = "button" *ngIf="reimb.statusId == 1" class="btn btn-success" (click)="approve(reimb.reimbursementId)" >Approve</button><button role = "button" *ngIf="reimb.statusId== 1" class="btn btn-danger" (click)="deny(reimb.reimbursementId)">Deny</button></td>
  </tr>
</table>

</body>
</html>
