.nav-container {
    padding-left: 20px;
}
.table-container {
    padding-top: 25px;
}
.thead-dark {
    background-color: black;
    color: white;
}
.nav-link, nav-item{
    background-color: black;
    color: white;
}
.nav {
    background-color: black;
}