<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>P1</display-name>
	<servlet>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>com.revature.servlets.DispatcherServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>403</error-code>
		<location>/static/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/static/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/static/500.html</location>
	</error-page>
</web-app>