body, html
{
    height: 100%;
    background: black url("../img/stop.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}