.checkbox{
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
  }
th:hover{
    cursor:pointer;
}
html:hover{
    cursor: context-menu;
}
table {
    width: 100%;
    border-spacing: 0;
}
click {
    cursor: pointer;
    color: blue;
}