<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<style>

body {
    padding:10px;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>




<table id="customers">
  <tr>
    <th>ID</th>
    <th>Author</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let reimb of this.reimbursements">
    <td *ngIf="reimb.statusId == 1">{{reimb.reimbursementId}}</td>
    <td *ngIf="reimb.statusId == 1">{{reimb.authorId | employee}}</td>
    <td *ngIf="reimb.statusId == 1">{{reimb.description}}</td>
    <td *ngIf="reimb.statusId == 1">{{reimb.reimbursementAmount | currency: 'USD': 'symbol'}}</td>
    <td *ngIf="reimb.statusId == 1">{{reimb.typeId | type}}</td>
    <td *ngIf="reimb.statusId == 1" class ="status">{{reimb.statusId | status}}</td>
  </tr>
</table>

<button role="button" type="button" class="btn btn-outline-dark right" (click)="showMenu()">+</button>
<div *ngIf = "this.showingMenu" id="customers" class="inputForm">
    <div class="form-group myForm" >
        <label for="usr" class="txt">Description</label>
        <input type="text" class="form-control" id="description">
      </div>
    <div class="form-group myForm">
    <label for="usr" class="txt">Amount</label>
    <input type="text" class="form-control"  id="amount">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1"></label>
        <select class="form-control" id="exampleFormControlSelect1" id = "type">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    <button (click)="submit()" routerLink="/myrequests">Submit</button>
</div>

</body>
</html>
