body
{
    background-color: white;
}
table
{
    width: 100%;
    border-collapse: collapse;
}
table, th, td 
{
    border: 1px solid black;
}
/* th
{
    text-align:left;
    column-width: 15%;
} */
